{% extends 'base.html' %} {% block content %}

<!-- Heading -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">

            <!-- Guest Name and Slogan -->
            <div class="col-12 col-md-6 masthead-text">
                <h1 class="guest-name">{{ guest.name }} </h1>
                <p class="guest-slogan"> {{ guest.slogan }} </p>
            </div>

            <!-- Image or placeholder image -->
            <div class="col-12 col-md-6 masthead-image">
                {% if "placeholder" in guest.image.url %}
                <img src="https://res.cloudinary.com/efcloud12/image/upload/v1652774377/placeholder_osn1os.jpg" width="100%">
                {% else %}
                <img src="{{ guest.image.url  }} " width="100%">
                {% endif %}
            </div>

        </div>
    </div>
</div>

<!-- Description -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The guest content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ guest.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Link -->
<div class="row text-center mt-5 mb-5">
    <div class="col-12 col-sm-6 text-sm-end">
        <scan class="text-sm-right">Want to take me home?</scan>
    </div>
    <div class="col-12 col-sm-6 text-sm-start">
        <scan>Click
            {% if user.is_authenticated %}

            <!-- Link to offers page -->
            <a class="link" href="{% url 'offers' %}">here</a> to make an offer.
            {% else %}

            <!-- Link to register page -->
            <a class="link" href="accounts/signup">here</a> to register.
            {% endif %}
        </scan>
    </div>
</div>

{% endblock content %}