{% extends "base.html" %}

{% block content %}

<div class="container">
    {% include "components/carousel.html" %}
        
    <div class="row">
        <div class="col-12 mt">
            {% include "components/welcome.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt">
            <a id="guests">
                <h1 class="text-center">Honoured Guests</h1>
            </a>
        </div>
    </div>

    <div class="row">
        
        <!-- Guest Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for guest in guest_list %}
                {% include "components/guest.html" %}
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-context-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{page_obj.previous_page_number }} " class="page-link">&laquo; PREVIOUS</a></li>
            {% endif %}
            {% if page_obj.has_next  %}
            <li><a href="?page={{page_obj.next_page_number }} " class="page-link">NEXT &laquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <div class="row text-center mt-5 mb-5">
        <scan>Want to take me home? Click
            {% if user.is_authenticated %}
            <a class="link" href="offers/">here</a> to make an offer.
            {% else %}
            <a class="link" href="accounts/signup">here</a> to register.
            {% endif %}
        </scan>
    </div>

</div>

{%endblock%}




