:root {
    --orange: #e66933;
    --dark-grey: #445261;
    --light-grey: #F9FAFC;
    --white: #fff;

}

body {
    background-color: var(--light-grey);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-grey);
}

.orange-font {
    color: var(--orange);
}

.social {
    text-align: right;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: var(--white) ;
}

.dark-bg {
    background-color: var(--dark-grey);
}

.main-bg {
    background-color: var(--light-grey);
}

.card {
    border: none;
    background-color: transparent;
    height: 80%;
}

.card-body {
    height: 100%;
}

.image-container {
    position: relative;
    height: 100%;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--orange);
}

.animal {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.page-link {
    color: var(--orange);
}

.guest-link {
    text-decoration: none;
    color: #445261;
}

.guest-link:hover,
.page-link {
    color: #E84610;
}

.guest-name {
    margin-top: 20%;
    margin-left: 5%;
}

.guest-slogan {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: var(--orange);
    color: var(--white);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--white);
    color: var(--orange);
    border-color: var(--orange);
}

.link {
    color: var(--orange);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--orange);
    text-decoration: underline;
    font-weight: bold;
}