@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

:root {
    --orange: #e66933;
    --dark-grey: #445261;
    --light-grey: #F9FAFC;
    --white: #fff;

}

body {
    background-color: var(--light-grey);
}

.brand {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-grey);
}

.orange-font {
    color: var(--orange);
}

.dark-bg {
    background-color: var(--dark-grey);
}

.main-bg {
    background-color: var(--light-grey);
}

.card {
    border: none;
    background-color: transparent;
    height: 80%;
}

.card-body {
    height: 100%;
}

.image-container {
    position: relative;
    height: 100%;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--orange);
}

.messages {
    background-color: var(--orange);
    color:var(--white)
}

/* Styling for Guest Details page */

.masthead-text {
    background-color: var(--dark-grey);
    color: white;
    position: relative;
}

.guest {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.guest-link {
    text-decoration: none;
    color: var(--dark-grey);
}

.guest-link:hover {
    color: var(--orange);
}

.guest-name {
    margin-top: 20%;
    margin-left: 5%;
}

.guest-slogan {
    margin-left: 5%;
    color: lightgray;
}

/* -- Carousel Styling -- */

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.carousel .carousel-item {
  height: 40vh;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 60vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: var(--orange);
}

.carousel-indicators {
    background-color: var(--orange);
    width: 10vw;
    margin-left: 45%;
}

/* -- Styling for Sign-up Buttons -- */

.btn-signup {
    
    background-color: var(--orange);
    color: var(--white);
    border-color:  var(--orange);
    margin-top: 2rem;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--white);
    color: var(--orange);
    border-color: var(--orange);
}

/* -- Styling for My Offers page -- */

.offers-list {
    margin-top: 3rem; 
    background-color: var(--dark-grey); 
    color: var(--white);}


.link {
    color: var(--orange);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--orange);
    text-decoration: underline;
    font-weight: bold;
}



/* Styling for button on My Offers page */
.btn-primary {
    background-color: var(--orange) ;
    border-color:  var(--orange);
}

.btn-primary:hover {
    background-color: var(--orange) ;
    border-color:  var(--orange);
    font-size: larger;
}

.btn-primary:active {
    background-color: var(--orange) ;
    border-color:  var(--orange);
    box-shadow: 0 0 0 0.25rem var(--dark-grey);
}

.btn-primary:visited {
    background-color: var(--orange) ;
    border-color:  var(--orange);
    box-shadow: 0 0 0 0;
}

.btn-primary:focus {
    background-color: var(--orange);
    box-shadow:  0 0 0 0 ;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--dark-grey);
}

/* Social Media Links */

.social {
    text-align: right;
}

.sociallink {
    color: var(--white);
    text-decoration: none;
}

.sociallink:hover,
.sociallink:active {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

/*  Styling for larger screens  */
@media only screen and (min-width: 768px) {
    .masthead {
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        height: 33vh;
        width: 100%;
    }

    .masthead-image {
        position: relative;
        overflow: hidden;
    }
    
    .masthead-image:after {
        content: "";
        position: absolute;
        top: 0;
        right: 90%;
        height: 100%;
        width: 150%;
        background: var(--dark-grey);
        -webkit-transform: skew(15deg);
        -moz-transform: skew(15deg);
        transform: skew(15deg);
        z-index: 100;
    }
}