<div class="row">
    <div class="col-12">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                {% for guest in guest_list %}
                {% if forloop.first %}
                <li data-bs-target="#demo" data-bs-slide-to="0" class="active"></li>
                {% else %}
                <li data-bs-target="#demo" data-bs-slide-to="{{forloop.counter0}}"></li>
                {% endif %}
                {% endfor %}
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                {% for guest in guest_list %}
                {% if forloop.first %}
                <div class="carousel-item active">
                    {% if "placeholder" in guest.image.url %}
                    <img src="https://res.cloudinary.com/efcloud12/image/upload/v1652774377/placeholder_osn1os.jpg" alt="Placeholder Image">
                    {% else %}
                    <img src="{{ guest.image.url }}"
                        alt="Image of Animal">
                    {% endif %}
                </div>
                {% else %}
                <div class="carousel-item">
                    {% if "placeholder" in guest.image.url %}
                    <img src="https://res.cloudinary.com/efcloud12/image/upload/v1652774377/placeholder_osn1os.jpg" alt="Placeholder Image">
                    {% else %}
                    <img src="{{ guest.image.url }}"
                        alt="Image of Animal">
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>