<div class="row">
    <div class="col-4">
        <div>
            <p>
                <a href="#" class="guest-link">
                    {{ offer.animal }}
                </a>
            </p>
        </div>
    </div>
    <div class="col-4">
        <div>
            <p>
                {% if offer.basis == 'A' %}
                {{ 'Adoption' }}
                {% else %}
                {{ 'Fostering' }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="col-4">
        <div>
            <p>
                {% if offer.status == 'P' %}
                {{ 'Pending' }}
                {% elif offer.status == 'A' %}
                {{ 'Approved' }}
                {% else %}
                {{ 'Rejected' }}
                {% endif %}
            </p>
        </div>
    </div>
    
            
        <!-- </div>
    </div> -->
</div>
