


<div class="card-body mt-5">
    <h1 class="text-center mb-5">Welcome to the Animal Hostel.</h1>
    <p>
        We care very deeply about what happens to our furry friends so we set up this hostel to help the
        homeless ones.
        We work tirelessly to bring these unfortunates together with a new best friend and a new home.
    </p>
    <p>
        If you feel you have space in both your heart and your home for one of our honoured Quests then please
        visit our offers page.
        There you can register and fill in am offer form.
        On the form you specify whihc of our quests you would like to take home and whether you are interedted
        in fostering or adoption.
    </p>
    <p>
        Thank you so much for visiting our website. Please look through our current list of quests at your
        leisure and contact us with any questions you mihgt have.
        We look forward to hearing from you.
    </p>
</div>
