<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <div class="container-fluid">
        <div class="row">

            <!-- Copyright column -->
            <div class="col-12 col-sm-4 text-center text-sm-left">
                <span class="text-white">Copyright &copy; 2022 Animal Hostel</span>
            </div>

            <!-- Address and phone number column -->
            <div class="col-12 col-sm-4 text-center">
                <span class="text-white">Barnfield Estate, Whitehall, Co. Wicklow | 01 256 5674</span>
            </div>

            <!-- Social Media icons -->
            <div class="col-12 col-sm-4 social text-center text-sm-right">
                <span class="text-white">Follow us: 
                    <a href="https://facebook.com" target="_blank" rel="noopener" class="sociallink"
                        aria-label="Visit our facebook page (opens in a new tab)">
                        <i class="fab fa-facebook-square ms-3"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank" rel="noopener" class="sociallink"
                        aria-label="Visit our twitter page (opens in a new tab)">
                        <i class="fab fa-twitter-square ms-3"></i>
                    </a>
                    <a href="https://youtube.com" target="_blank" rel="noopener" class="sociallink"
                        aria-label="Visit our Youtube page (opens in a new tab)">
                        <i class="fab fa-instagram-square ms-3"></i>
                    </a>
                    <a href="https://instagram.com" target="_blank" rel="noopener" class="sociallink"
                        aria-label="Visit our instagram page (opens in a new tab)">
                        <i class="fab fa-youtube-square ms-3"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    
</footer>