<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4">
                <span class="text-white">Copyright &copy; 2022 Animal Hostel</span>
            </div>
            <div class="col-12 col-sm-4 text-center">
                <span class="text-white">Barnfield Estate, Whitehall, Co. Wicklow | 01 256 5674</span>
            </div>
            <div class="col-12 col-sm-4 social ">
                <span class=" text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
                    <i class="fab fa-twitter-square ms-3"></i>
                    <i class="fab fa-instagram-square ms-3"></i>
                    <i class="fab fa-youtube-square ms-3"></i></span>
            </div>
        </div>
    </div>
    
</footer>